body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?ga=GA1.1.1804957103.1731264605&semt=ais_hybrid")
}

.App {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

section h2 {
  font-size: 2rem;
  text-align: center;
}

ul {
  padding-left: 20px;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  font-size: 1.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
